.el-select {
  // --el-select-border-color-hover: var(--el-border-color-hover);
  // --el-select-input-color: var(--el-text-color-placeholder);
  // --el-select-disabled-color: var(--el-disabled-text-color);
  // --el-select-disabled-border: var(--el-disabled-border-color);
  // --el-select-font-size: var(--el-font-size-base);
  // --el-select-input-color: var(--el-text-color-placeholder);
  // --el-select-multiple-input-color: var(--el-text-color-regular);
  // --el-select-input-focus-border-color: var(--el-color-primary);
  --el-select-input-font-size: var(--el-font-size-base);
}

.el-select-dropdown__item.is-hovering {
  background-color: var(--el-fill-color-light);
  color: var(--text-primary-hover);
}
.el-select-dropdown__item.is-selected {
  color: var(--text-primary-hover);
  font-weight: var(--el-font-weight-primary);
}

.el-select-dropdown__list {
  padding: 0px;
}