[data-dock-surface="shell"] [data-action="prompt-submit"] {
    width: 36px;
    height: 44px;
    border-radius: 50%;
    background-image: url(/IconSend-blue.svg);
    background-size: 51.5px auto;
    background-position: -9px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    transform: translateY(8px);
}

[data-dock-surface="shell"] [data-action="prompt-submit"] [data-slot="icon-svg"] {
  display: none;
}

[data-component="session-prompt-dock"] {
  padding-bottom: 24px;
}

[data-component="session-prompt-dock"] > .w-full.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}

[data-dock-surface="shell"] {
  border: 1px solid transparent;
  min-height: 120px;
  padding: 16px 16px 18px 16px;
  border-radius: 28px;
  background:
    linear-gradient(var(--surface-raised-stronger-non-alpha), var(--surface-raised-stronger-non-alpha)) padding-box,
    linear-gradient(135deg, #f66117, #5f2dff, #3d5dff, #688aff, #1cab6f, #3d5dff, #ce07e8) border-box;
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.15),
    0 0 10px rgba(74, 81, 255, 0.3),
    0 0 15px rgba(89, 74, 255, 0.2);
}

.relative.bg-background-base.size-full [data-component="session-turn"] [data-component="user-message"] {
  background: none;
}