[data-component="switch"]:hover:not([data-disabled], [data-readonly]) [data-slot="switch-control"] {
  border-color: var(--border-weak-base);
}

[data-component="switch"][data-checked] [data-slot="switch-control"] {
  border-color: #0A59F7;
  background-color: #0A59F7;
}

[data-component="switch"][data-checked]:hover:not([data-disabled], [data-readonly]) [data-slot="switch-control"] {
  border-color: #0A59F7;
  background-color: #0A59F7;
}
