.el-tabs {
  --el-tabs-header-height: 32px;
}
.el-tabs__item {
  color: var(--el-text-color-secondary);
}
.el-tabs__nav-wrap:after {
  height: 1px;
}

.el-tabs--card > .el-tabs__header {
  .el-tabs__nav {
    border: none;
  }
  .el-tabs__item {
    margin-top: var(--spacing-0);
    margin-right: var(--spacing-1);
    padding: 0 var(--spacing-4) !important;
    border-radius: var(--spacing-1) var(--spacing-1) 0 0;
  }
  .el-tabs__item:not(.is-active) {
    border: none;
    background-color: rgba(174, 174, 174, 0.05);
  }
  .el-tabs__item.is-active {
    background: var(--el-color-white);
    border: 1px solid var(--el-border-color-light);
    border-bottom: none;
  }
}
