.el-step__title {
  font-size: var(--el-font-size-base);
  font-weight: var(--font-weight-medium);

  &.is-finish {
    color: var(--el-text-color-regular);
  }

  &.is-process {
    color: var(--brand-50);
  }

  &.is-wait {
    color: var(--el-text-color-secondary);
  }
}

.el-step__description {
  font-size: var(--el-font-size-small);
  color: var(--el-text-color-secondary);

  &.is-finish {
    color: var(--el-text-color-secondary);
  }

  &.is-process {
    color: var(--brand-50);
  }

  &.is-wait {
    color: var(--el-text-color-secondary);
  }
}

.el-step__icon {
  &.is-icon {
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &.is-text {
    border: 1px solid var(--gray-20);
    background: rgb(from var(--gray-90) r g b / 0.05);
    color: var(--gray-50);
  }
}

.el-step__icon-inner {
  font-weight: var(--el-font-weight-primary);
}

.el-step.is-center .el-step__line {
  left: calc(50% + 20px);
  right: calc(-50% + 20px);
}

.el-step__line-inner {
  border: none;
  border-top: 1px solid;
}

.el-step__head {
  &.is-finish {
    .el-step__line {
      background-color: var(--border-primary);
    }
    .el-step__icon.is-text {
      border-color: var(--border-primary);
      color: var(--brand-50);
    }
  }
  &.is-process {
    color: var(--brand-50);
    .el-step__icon.is-text {
      background: var(--brand-50);
      border-color: var(--border-primary);
      color: var(--el-color-white);
    }
  }
  &.is-wait {
    color: var(--gray-20);
  }
}

.el-step.is-horizontal {
  .el-step__line {
    height: 1px;
    background: var(--gray-10);
  }
} 

.el-step.is-vertical {
  .el-step__line {
    width: 1px;
    top: 32px;
    bottom: 8px;
  }
  
  .el-step__main {
    padding-bottom: 12px;
  }
}
.el-steps--vertical {
  height: auto;
}




.theme-dark {
  .el-step__line,
  .is-horizontal .el-step__line {
    background-color: rgb(from var(--gray-05) r g b / 0.15);
  }
  .el-step__icon.is-text {
    border: 1px solid var(--gray-50);
    background:  rgb(from var(--gray-05) r g b / 0.2);
    color: var(--gray-40);
  }
  .el-step__title {
    &.is-process {
      color: var(--brand-30);
    }
  }
  .el-step__description {
    &.is-process {
      color: var(--brand-30);
    }
  }
  .el-step__head {
    &.is-finish {
      color: var(--brand-40);
      .el-step__line {
        background-color: var(--brand-50);
      }
      .el-step__icon.is-text {
        color: var(--brand-30);
        border-color: var(--brand-40);
        background-color: #112857;
      }
    }
    &.is-process {
      .el-step__icon.is-text {
        border: none;
      }
    }
  }
  

}


