@import "tailwindcss" important;
@config "../tailwind.config.ts";

/* Light */
@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('./assets/font/HarmonyOS_SansSC/Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('./assets/font/HarmonyOS_SansSC/Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('./assets/font/HarmonyOS_SansSC/Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'HarmonyOS Sans';
  src: url('./assets/font/HarmonyOS_SansSC/Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@theme {
  /* 覆盖 Tailwind 的默认无衬线字体为你的鸿蒙字体 */
  --font-sans: 'HarmonyOS Sans', 'Microsoft YaHei', Arial, 'PingFang SC', 'San Francisco', sans-serif;
}

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 4px;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #dededf;
  }

}