.el-progress__text span{
  font-size: 12px;
}
.el-progress {
  width: 100%;
}
.el-progress__text {
  min-width: auto;
  margin-left: 12px;
}

.theme-dark {
  .el-progress-bar__inner {
    background-color: var(--brand-40);
  }
  .el-progress-bar__outer {
    background-color: rgb(from var(--gray-05) r g b / 0.15);
  }
  .el-progress__text span{
    color: var(--color-text-primary);
  }
  .el-progress.is-success .el-progress-bar__inner {
    background-color: var(--mint-40);
  }
}