
.el-slider {
  --el-slider-border-radius: 4px;
  --el-slider-height: 4px;
  --el-slider-button-size: 16px;
  --el-slider-button-wrapper-size: 24px;
  --el-slider-button-wrapper-offset: -10px;
}

.theme-dark {
  .el-slider {
    --el-slider-main-bg-color: var(--brand-50);
    --el-slider-runway-bg-color: rgb(from var(--gray-05) r g b / 0.15);
    .el-slider__button {
      border-color: var(--brand-30);
    }
    .el-slider__marks-text {
      color: var(--color-text-primary);
    }
  }
}