.el-time-spinner__item.is-active:not(.is-disabled) {
  color: var(--el-color-primary);
  // background: var(--color-select);
  // border-radius: 4px;
}
// .el-time-spinner__item:hover:not(.is-disabled):not(.is-active) {
//   background: none;
// }

.el-time-panel__content:before {
  content: none;
}
.el-date-editor {
  .el-input__wrapper {
    &.is-focus {
      .el-input__prefix {
        .el-input__prefix-inner {
          .el-input__icon {
            svg {
              color: var(--color-icon-primary);
            }
          }
        }
      }
    }
    .el-input__prefix {
      position: absolute;
      right: 12px;
      .el-input__prefix-inner {
        &>:last-child {
          margin-right: 0;
        }
        .el-input__icon {
          svg {
            width: 14px;
            height: 14px;
            color: var(--color-icon-secondary);
          }
        }
      }
    }
    .el-input__inner {
      color: var(--color-text-primary);
    }
  }
}

.el-input__wrapper {
  .el-range__icon {
    position: absolute;
    right: 12px;
    svg {
      width: 14px;
      height: 14px;
    }
    .el-date-editor {
      .el-range-input {
        text-align: left;
      }
    }
  }
}
.el-time-panel {
  padding: 16px 12px 0;
  // .el-time-spinner {
  //   display: flex;
  //   gap: 8px;
  // }
}

.el-date-editor .el-range-input {
  text-align: left;
}
.el-date-editor .el-range-separator {
  flex: initial;
  padding: 0 8px;
}
.el-range-editor.el-input__wrapper {
  justify-content: initial;
  padding: 0 12px;
}
.el-date-editor.is-focus .el-input__wrapper {
  border: 1px solid var(--color-border-active);
}
.el-date-editor--timerange.el-input__wrapper {
  flex-grow: unset;
}