.el-table {
  --el-table-border-color: var(--el-border-color-light);
  --el-table-header-text-color: var(--el-text-color-regular);
  --el-table-row-hover-bg-color: var(--brand-10);
  --el-table-header-bg-color: #f3f3f3;
  --table-expand-row-container-bg: rgb(from var(--gray-05) r g b / 0.5);
  --el-table-height: 31px;
}

.el-table.el-table--small {
  --el-table-height: 27px;
}

.el-table.el-table--large {
  --el-table-height: 39px;
}

/* 修改排序图标  */
/* 隐藏默认的上下三角形 禁用三角形的事件 */
.el-table .sort-caret.ascending,
.el-table .sort-caret.descending {
  border: none !important;
  pointer-events: none;
}

/* 默认图标 */
.el-table .caret-wrapper{
  background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs/%3e%3cpath%20id='合并'%20d='M4.44%2011.5C4.44%2011.78%204.22%2012%203.94%2012C3.66%2012%203.44%2011.78%203.44%2011.5L3.44%201.7L1.72%203.41C1.53%203.61%201.22%203.61%201.02%203.41C0.82%203.22%200.82%202.91%201.02%202.71L3.58%200.14C3.63%200.09%203.69%200.06%203.75%200.03C3.8%200.01%203.87%200%203.94%200C4.1%200%204.23%200.04%204.31%200.12C4.4%200.2%204.44%200.33%204.44%200.5L4.44%2011.5ZM7.85%200C7.57%200%207.35%200.21%207.35%200.5L7.35%2011.5C7.35%2011.66%207.39%2011.79%207.47%2011.87C7.56%2011.95%207.68%2012%207.85%2012C7.99%2012%208.1%2011.95%208.2%2011.85L10.77%209.28C10.97%209.08%2010.97%208.77%2010.77%208.58C10.57%208.38%2010.26%208.38%2010.06%208.58L8.35%2010.29L8.35%200.5C8.35%200.21%208.13%200%207.85%200Z'%20fill='%23191919'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e") center center / 12px no-repeat; 
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-bottom: 2px;
  &:hover{
    background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3cpath%20id='合并'%20d='M4.44%2011.5C4.44%2011.78%204.22%2012%203.94%2012C3.66%2012%203.44%2011.78%203.44%2011.5L3.44%201.7L1.72%203.41C1.53%203.61%201.22%203.61%201.02%203.41C0.82%203.22%200.82%202.91%201.02%202.71L3.58%200.14C3.63%200.09%203.69%200.06%203.75%200.03C3.8%200.01%203.87%200%203.94%200C4.1%200%204.23%200.04%204.31%200.12C4.4%200.2%204.44%200.33%204.44%200.5L4.44%2011.5ZM7.85%200C7.57%200%207.35%200.21%207.35%200.5L7.35%2011.5C7.35%2011.66%207.39%2011.79%207.47%2011.87C7.56%2011.95%207.68%2012%207.85%2012C7.99%2012%208.1%2011.95%208.2%2011.85L10.77%209.28C10.97%209.08%2010.97%208.77%2010.77%208.58C10.57%208.38%2010.26%208.38%2010.06%208.58L8.35%2010.29L8.35%200.5C8.35%200.21%208.13%200%207.85%200Z'%20fill='%232E86DE'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e") center center / 0.75rem no-repeat;
  }
}

/* 下降 */
.el-table .descending .caret-wrapper{
  background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cclipPath%20id='clip2_31'%3e%3crect%20id='ic_public_sort_down'%20width='12.000000'%20height='12.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_31)'%3e%3cpath%20id='path4%20(边框)'%20d='M6.5%200.75C6.5%200.47%206.28%200.25%206%200.25C5.72%200.25%205.5%200.47%205.5%200.75L5.5%2010.04L1.97%206.53C1.77%206.33%201.46%206.33%201.27%206.53C1.07%206.73%201.07%207.04%201.27%207.24L5.64%2011.6C5.74%2011.7%205.86%2011.75%206%2011.75C6.13%2011.75%206.25%2011.7%206.35%2011.6L10.72%207.24C10.92%207.04%2010.92%206.73%2010.72%206.53C10.53%206.33%2010.22%206.33%2010.02%206.53L6.5%2010.04L6.5%200.75Z'%20fill='%23191919'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e") center center / 0.75rem no-repeat;
  &:hover{
    background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cclipPath%20id='clip2_31'%3e%3crect%20id='ic_public_sort_down'%20width='12.000000'%20height='12.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_31)'%3e%3cpath%20id='path4%20(边框)'%20d='M6.5%200.75C6.5%200.47%206.28%200.25%206%200.25C5.72%200.25%205.5%200.47%205.5%200.75L5.5%2010.04L1.97%206.53C1.77%206.33%201.46%206.33%201.27%206.53C1.07%206.73%201.07%207.04%201.27%207.24L5.64%2011.6C5.74%2011.7%205.86%2011.75%206%2011.75C6.13%2011.75%206.25%2011.7%206.35%2011.6L10.72%207.24C10.92%207.04%2010.92%206.73%2010.72%206.53C10.53%206.33%2010.22%206.33%2010.02%206.53L6.5%2010.04L6.5%200.75Z'%20fill='%232E86DE'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e") center center / 12px no-repeat; 
  }
}

/* 上升 */
.el-table .ascending .caret-wrapper{
  background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cclipPath%20id='clip2_45'%3e%3crect%20id='ic_public_sort_up'%20width='12.000000'%20height='12.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_45)'%3e%3cpath%20id='path4%20(边框)'%20d='M6.5%201.95L10.02%205.46C10.22%205.66%2010.53%205.66%2010.72%205.46C10.92%205.26%2010.92%204.95%2010.72%204.75L6.35%200.39C6.25%200.29%206.13%200.25%206%200.25C5.86%200.25%205.74%200.29%205.64%200.39L1.27%204.75C1.07%204.95%201.07%205.26%201.27%205.46C1.46%205.66%201.77%205.66%201.97%205.46L5.5%201.95L5.5%2011.25C5.5%2011.53%205.72%2011.75%206%2011.75C6.28%2011.75%206.5%2011.53%206.5%2011.25L6.5%201.95Z'%20fill='%23191919'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e") center center / 0.75rem no-repeat;
  &:hover{
    background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cclipPath%20id='clip2_45'%3e%3crect%20id='ic_public_sort_up'%20width='12.000000'%20height='12.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_45)'%3e%3cpath%20id='path4%20(边框)'%20d='M6.5%201.95L10.02%205.46C10.22%205.66%2010.53%205.66%2010.72%205.46C10.92%205.26%2010.92%204.95%2010.72%204.75L6.35%200.39C6.25%200.29%206.13%200.25%206%200.25C5.86%200.25%205.74%200.29%205.64%200.39L1.27%204.75C1.07%204.95%201.07%205.26%201.27%205.46C1.46%205.66%201.77%205.66%201.97%205.46L5.5%201.95L5.5%2011.25C5.5%2011.53%205.72%2011.75%206%2011.75C6.28%2011.75%206.5%2011.53%206.5%2011.25L6.5%201.95Z'%20fill='%232E86DE'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e") center center / 12px no-repeat; 
  }
}

/* 隐藏默认的 SVG 筛选图标 */
.el-table__column-filter-trigger .el-icon {
  display: none !important;
}

/* 自定义的筛选图标 */
.el-table .cell .el-table__column-filter-trigger {
  background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3cpath%20id='合并'%20d='M7.98%209.25L7.98%206.96C7.98%206.68%207.76%206.46%207.48%206.46C7.2%206.46%206.98%206.68%206.98%206.96L6.98%209.25C6.98%209.33%206.96%209.4%206.92%209.46C6.9%209.49%206.8%209.6%206.77%209.62L4.88%2010.71L4.88%205.5C4.88%205.36%204.83%205.25%204.74%205.15L1.41%201.71C1.36%201.66%201.33%201.61%201.31%201.55C1.3%201.47%201.29%201.33%201.32%201.25C1.36%201.18%201.41%201.11%201.47%201.07C1.54%201.02%201.62%201%201.71%201L10.24%201C10.3%201%2010.37%201.01%2010.42%201.04C10.44%201.05%2010.52%201.1%2010.54%201.12C10.58%201.16%2010.6%201.2%2010.63%201.26C10.66%201.33%2010.67%201.41%2010.66%201.49C10.64%201.58%2010.6%201.65%2010.54%201.72L7.12%205.14C6.93%205.34%206.93%205.65%207.13%205.85C7.32%206.05%207.64%206.05%207.83%205.85L11.24%202.42C11.46%202.21%2011.59%201.95%2011.64%201.66C11.66%201.54%2011.67%201.42%2011.66%201.3C11.64%201.16%2011.61%201.01%2011.55%200.87C11.49%200.73%2011.41%200.6%2011.32%200.49C11.24%200.4%2011.15%200.32%2011.05%200.25C10.81%200.08%2010.54%200%2010.24%200L1.71%200C1.54%200%201.38%200.02%201.23%200.08C1.11%200.12%201%200.18%200.9%200.25C0.8%200.32%200.71%200.4%200.63%200.49C0.54%200.6%200.46%200.72%200.4%200.86C0.34%201%200.31%201.14%200.29%201.29C0.28%201.41%200.29%201.53%200.31%201.65C0.33%201.77%200.36%201.89%200.41%202C0.48%202.15%200.57%202.28%200.69%202.41L3.88%205.7L3.88%2010.77C3.88%2010.95%203.93%2011.12%204.02%2011.27C4.1%2011.41%204.22%2011.52%204.36%2011.61C4.51%2011.69%204.66%2011.73%204.83%2011.73C4.91%2011.74%204.99%2011.73%205.06%2011.71C5.15%2011.69%205.24%2011.65%205.32%2011.61L7.27%2010.48C7.49%2010.36%207.66%2010.18%207.79%209.96C7.91%209.74%207.98%209.51%207.98%209.25Z'%20fill='%23191919'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e") center center / 12px no-repeat;
  width: 12px;  
  height: 12px; 
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  margin-bottom: 2px;
  &:hover{
    background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3cpath%20id='合并'%20d='M7.98%209.25L7.98%206.96C7.98%206.68%207.76%206.46%207.48%206.46C7.2%206.46%206.98%206.68%206.98%206.96L6.98%209.25C6.98%209.33%206.96%209.4%206.92%209.46C6.9%209.49%206.8%209.6%206.77%209.62L4.88%2010.71L4.88%205.5C4.88%205.36%204.83%205.25%204.74%205.15L1.41%201.71C1.36%201.66%201.33%201.61%201.31%201.55C1.3%201.47%201.29%201.33%201.32%201.25C1.36%201.18%201.41%201.11%201.47%201.07C1.54%201.02%201.62%201%201.71%201L10.24%201C10.3%201%2010.37%201.01%2010.42%201.04C10.44%201.05%2010.52%201.1%2010.54%201.12C10.58%201.16%2010.6%201.2%2010.63%201.26C10.66%201.33%2010.67%201.41%2010.66%201.49C10.64%201.58%2010.6%201.65%2010.54%201.72L7.12%205.14C6.93%205.34%206.93%205.65%207.13%205.85C7.32%206.05%207.64%206.05%207.83%205.85L11.24%202.42C11.46%202.21%2011.59%201.95%2011.64%201.66C11.66%201.54%2011.67%201.42%2011.66%201.3C11.64%201.16%2011.61%201.01%2011.55%200.87C11.49%200.73%2011.41%200.6%2011.32%200.49C11.24%200.4%2011.15%200.32%2011.05%200.25C10.81%200.08%2010.54%200%2010.24%200L1.71%200C1.54%200%201.38%200.02%201.23%200.08C1.11%200.12%201%200.18%200.9%200.25C0.8%200.32%200.71%200.4%200.63%200.49C0.54%200.6%200.46%200.72%200.4%200.86C0.34%201%200.31%201.14%200.29%201.29C0.28%201.41%200.29%201.53%200.31%201.65C0.33%201.77%200.36%201.89%200.41%202C0.48%202.15%200.57%202.28%200.69%202.41L3.88%205.7L3.88%2010.77C3.88%2010.95%203.93%2011.12%204.02%2011.27C4.1%2011.41%204.22%2011.52%204.36%2011.61C4.51%2011.69%204.66%2011.73%204.83%2011.73C4.91%2011.74%204.99%2011.73%205.06%2011.71C5.15%2011.69%205.24%2011.65%205.32%2011.61L7.27%2010.48C7.49%2010.36%207.66%2010.18%207.79%209.96C7.91%209.74%207.98%209.51%207.98%209.25Z'%20fill='%232E86DE'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e") center center / 12px no-repeat;
  }
}

.el-table .cell.highlight .el-table__column-filter-trigger{
  background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3cpath%20id='合并'%20d='M7.98%209.25L7.98%206.96C7.98%206.68%207.76%206.46%207.48%206.46C7.2%206.46%206.98%206.68%206.98%206.96L6.98%209.25C6.98%209.33%206.96%209.4%206.92%209.46C6.9%209.49%206.8%209.6%206.77%209.62L4.88%2010.71L4.88%205.5C4.88%205.36%204.83%205.25%204.74%205.15L1.41%201.71C1.36%201.66%201.33%201.61%201.31%201.55C1.3%201.47%201.29%201.33%201.32%201.25C1.36%201.18%201.41%201.11%201.47%201.07C1.54%201.02%201.62%201%201.71%201L10.24%201C10.3%201%2010.37%201.01%2010.42%201.04C10.44%201.05%2010.52%201.1%2010.54%201.12C10.58%201.16%2010.6%201.2%2010.63%201.26C10.66%201.33%2010.67%201.41%2010.66%201.49C10.64%201.58%2010.6%201.65%2010.54%201.72L7.12%205.14C6.93%205.34%206.93%205.65%207.13%205.85C7.32%206.05%207.64%206.05%207.83%205.85L11.24%202.42C11.46%202.21%2011.59%201.95%2011.64%201.66C11.66%201.54%2011.67%201.42%2011.66%201.3C11.64%201.16%2011.61%201.01%2011.55%200.87C11.49%200.73%2011.41%200.6%2011.32%200.49C11.24%200.4%2011.15%200.32%2011.05%200.25C10.81%200.08%2010.54%200%2010.24%200L1.71%200C1.54%200%201.38%200.02%201.23%200.08C1.11%200.12%201%200.18%200.9%200.25C0.8%200.32%200.71%200.4%200.63%200.49C0.54%200.6%200.46%200.72%200.4%200.86C0.34%201%200.31%201.14%200.29%201.29C0.28%201.41%200.29%201.53%200.31%201.65C0.33%201.77%200.36%201.89%200.41%202C0.48%202.15%200.57%202.28%200.69%202.41L3.88%205.7L3.88%2010.77C3.88%2010.95%203.93%2011.12%204.02%2011.27C4.1%2011.41%204.22%2011.52%204.36%2011.61C4.51%2011.69%204.66%2011.73%204.83%2011.73C4.91%2011.74%204.99%2011.73%205.06%2011.71C5.15%2011.69%205.24%2011.65%205.32%2011.61L7.27%2010.48C7.49%2010.36%207.66%2010.18%207.79%209.96C7.91%209.74%207.98%209.51%207.98%209.25Z'%20fill='%232E86DE'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e") center center / 12px no-repeat;
}
.el-table thead th {
  font-weight: var(--font-weight-medium);
}

.el-table thead .el-table__cell {
  padding: 4px 0;
  &:not(&:nth-of-type(1)) {
    position: relative;
    .cell {
      &::before {
        content: "";
        position: relative;
        left: -8px;
        top: -1px;
        width: 1px;
        height: 1em;
        background-color: var(--gray-20);
      }
      
    }
  }
}

.el-table__header-wrapper,
.el-table__body-wrapper {
  .el-table-column--selection>.cell {
    height: auto;
    display: flex;
  }
}

.el-table {
  .cell {
    display: flex;
    align-items: center;
    height: var(--el-table-height);
    min-height: 0;
    line-height: var(--el-table-height);
    overflow: hidden;
    padding: 0 8px;
  }
  .el-table-column--selection,
  .el-table__expand-column {
    .cell {
      padding: 0 16px;
    }
  }

  .el-table__body tr, thead .el-table__cell {
    height: var(--el-table-height);
    padding: 0 ;
  }
}


.el-table .el-table__cell {
  height: var(--el-table-height);
  padding: 0;

  &.is-left .cell {
    justify-content: start;
  }

  &.is-center .cell {
    justify-content: center;
  }

  &.is-right .cell {
    justify-content: end;
  }
}

.el-table__column-filter-trigger {
  margin-left: 4px;
  .el-icon{
    font-size: var(--font-size-base);
  }
}


.el-table .el-table__row {
  &:has(.el-table__expand-icon.el-table__expand-icon--expanded),
  &:has(.el-table-column--selection>.cell>.el-checkbox.is-checked) {
    background-color: var(--brand-05);
  }
}

.el-table__inner-wrapper:before {
  height: 0px;
}

.el-pagination {
  .el-select {
    width: 112px;
  }
} 

.el-pagination .el-select {
  width: 112px;
  .el-icon{
    font-size: var(--font-size-sm);
  }
}

.el-pagination.is-background {
  width: 100%;
  justify-content: space-between;
  .el-pagination__total.is-first + .el-pagination__sizes {
    margin-left: auto;
  } 

  .btn-prev.is-active,
  .btn-next.is-active,
  .el-pager li.is-active {
    background-color: var(--brand-05);
    color: var(--brand-50);
    font-weight: var(--el-font-weight-primary);
    &:hover{
      background-color: var(--brand-05);
      color: var(--brand-50);
      font-weight: var(--el-font-weight-primary);
    }
  }

  .btn-prev,
  .btn-next,
  .el-pager li {
    background-color: transparent;

    &:hover {
      color: var(--el-text-color-primary);
      background-color: rgb(from var(--gray-90) r g b / 0.05);
    }
  }

  .btn-prev:disabled,
  .btn-prev.is-disabled,
  .btn-next:disabled,
  .btn-next.is-disabled,
  .el-pager li:disabled,
  .el-pager li.is-disabled {
    color: var(--el-text-color-placeholder);
    background-color: transparent;
  }

  .btn-prev{
    margin-left: 8px;
  }
  
}

.el-pagination .btn-prev, .el-pagination .btn-next{
  height: 24px;
  min-width: 24px;
  .el-icon {
    font-size: var(--font-size-sm);
  }
}

.el-pagination .more{
  pointer-events: none;
}

.el-pagination .el-pagination__jump{
  margin-left: 4px;
}

.el-pagination.is-background .el-pager li{
  border-radius: 4px;
}

// 展开行样式
.table-expanded-row {
  margin: -4px 0 -3px 0;
  padding: 20px 24px;
  background-color: var(--table-expand-row-container-bg);
}

// 收起展开图标样式
.el-table__expand-icon {
  cursor: pointer;
  transition: transform 0.2s ease;
  &>.el-icon {
    font-size: 8px;
    transform: scale(1);
  }

  &.el-table__expand-icon--expanded {
    transform: rotate(90deg);
  }
}

.el-table-filter__checkbox-group{
  padding: 4px;
  gap: 4px !important;
  display: flex;
  flex-direction: column;
  .el-checkbox{
    padding: 6px 8px;
    margin: 0 !important;
    width: 100%;
    border-radius: 4px;
    height: 32px !important;
    &:hover{
      background-color: rgb(from var(--gray-90) r g b / 0.05);
    }
  }
}

.el-table-filter__bottom{
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  button{
    color: var(--color-brand);
    font-size: var(--el-font-size-base);
    &.is-disabled{
      color: var(--color-brand-disabled);
      &:hover,&:active{
        color: var(--color-brand-disabled);
      }
    }
    &:hover{
      color: var(--color-brand-hover);
    }
    &:active{
      color: var(--color-brand-active);
    }
  }
}


.theme-dark {
  .el-table {
    --table-expand-row-container-bg: var(--gray-70);
    --el-table-row-hover-bg-color: #0f3863;
    --el-table-header-bg-color: #2e2e2e;
  }

  .el-table thead .el-table__cell {
    &:not(&:nth-of-type(1)) {
      .cell {
        &::before {
          background-color: var(--gray-50);
        }
      }
    }
  }

  .el-table .el-table__row {
    &:has(.el-table__expand-icon.el-table__expand-icon--expanded) {
      background-color: #0F3863;
    }
    &:has(.el-table-column--selection>.cell>.el-checkbox.is-checked) {
      background-color: #14293E;
    }
  }

  .el-pagination__sizes,
  .el-pagination__total,
  .el-pagination__jump {
    color: var(--gray-0)
  }

  .el-pagination.is-background {

    .btn-prev.is-active,
    .btn-next.is-active,
    .el-pager li.is-active {
      background-color: rgba(0, 103, 209, 0.4);
      color: var(--gray-0);
      &:hover{
        background-color: rgba(0, 103, 209, 0.4);
        color: var(--gray-0);
      }
    }

    .btn-prev,
    .btn-next,
    .el-pager li {
      background-color: transparent;
      color: var(--gray-0);

      &:hover {
        color: var(--el-text-color-primary);
        background-color: rgb(from var(--gray-05) r g b / 0.2);
      }
    }

    .btn-prev:disabled,
    .btn-prev.is-disabled,
    .btn-next:disabled,
    .btn-next.is-disabled,
    .el-pager li:disabled,
    .el-pager li.is-disabled {
      color: var(--el-text-color-placeholder);
      background-color: transparent;
    }

    .btn-prev{
      margin-left: 8px;
    }

    .el-pagination__editor .el-input__wrapper.is-focus{
      box-shadow: inset 0 0 0 1px var(--el-input-focus-border-color), 0 0 0 1px var(--brand-70);
    }
  }

  .el-table-filter__checkbox-group{
  .el-checkbox{
    &:hover{
      background-color: rgb(from var(--gray-05) r g b / 0.2);
    }
  }
}
  /* 排序默认图标 */
  .el-table .caret-wrapper{
    background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cclipPath%20id='clip2_241'%3e%3crect%20id='双箭头_面'%20width='12.000000'%20height='12.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_241)'%3e%3cpath%20id='矢量%201'%20d='M1.84%204.15C1.77%204.22%201.69%204.27%201.6%204.3C1.53%204.33%201.45%204.35%201.36%204.35C1.28%204.35%201.21%204.34%201.14%204.31C1.05%204.28%200.97%204.23%200.89%204.16C0.82%204.09%200.75%204%200.72%203.91C0.69%203.84%200.67%203.76%200.67%203.67C0.67%203.58%200.69%203.5%200.72%203.42C0.75%203.34%200.8%203.26%200.87%203.2L3.77%200.25C3.85%200.18%203.95%200.12%204.05%200.09C4.1%200.08%204.16%200.07%204.21%200.07C4.33%200.07%204.5%200.12%204.62%200.21C4.66%200.24%204.71%200.29%204.77%200.34C4.83%200.43%204.91%200.61%204.91%200.74L4.91%2011.25C4.91%2011.34%204.9%2011.43%204.86%2011.51C4.83%2011.59%204.78%2011.66%204.71%2011.72C4.65%2011.79%204.58%2011.84%204.5%2011.87C4.42%2011.91%204.33%2011.92%204.23%2011.92C4.14%2011.92%204.05%2011.91%203.97%2011.87C3.89%2011.84%203.82%2011.79%203.76%2011.72C3.69%2011.66%203.64%2011.59%203.61%2011.51C3.57%2011.43%203.56%2011.34%203.56%2011.25L3.56%202.4L1.84%204.15ZM7.07%200.74L7.07%2011.31C7.08%2011.36%207.12%2011.48%207.13%2011.51C7.17%2011.6%207.21%2011.67%207.27%2011.73C7.35%2011.8%207.43%2011.85%207.52%2011.89C7.59%2011.91%207.67%2011.92%207.75%2011.92C7.87%2011.9%208.04%2011.85%208.13%2011.79L11.12%208.8C11.17%208.73%2011.23%208.66%2011.25%208.58C11.29%208.5%2011.3%208.41%2011.3%208.32C11.3%208.22%2011.28%208.14%2011.24%208.06C11.21%207.98%2011.16%207.91%2011.1%207.84C11.03%207.78%2010.94%207.72%2010.85%207.69C10.78%207.66%2010.7%207.65%2010.61%207.65C10.53%207.65%2010.45%207.67%2010.37%207.7C10.29%207.73%2010.21%207.78%2010.14%207.85L8.42%209.59L8.42%200.74C8.42%200.64%208.4%200.54%208.36%200.45C8.33%200.38%208.28%200.32%208.22%200.26C8.16%200.2%208.1%200.16%208.03%200.13C7.94%200.09%207.85%200.07%207.75%200.07C7.63%200.07%207.53%200.09%207.44%200.14C7.37%200.17%207.31%200.21%207.26%200.26C7.21%200.31%207.17%200.37%207.14%200.44C7.09%200.53%207.07%200.63%207.07%200.74Z'%20fill='%23DFDFDF'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e") center center / 0.75rem no-repeat ;
    &:hover{
      background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cclipPath%20id='clip2_241'%3e%3crect%20id='双箭头_面'%20width='12.000000'%20height='12.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_241)'%3e%3cpath%20id='矢量%201'%20d='M1.84%204.15C1.77%204.22%201.69%204.27%201.6%204.3C1.53%204.33%201.45%204.35%201.36%204.35C1.28%204.35%201.21%204.34%201.14%204.31C1.05%204.28%200.97%204.23%200.89%204.16C0.82%204.09%200.75%204%200.72%203.91C0.69%203.84%200.67%203.76%200.67%203.67C0.67%203.58%200.69%203.5%200.72%203.42C0.75%203.34%200.8%203.26%200.87%203.2L3.77%200.25C3.85%200.18%203.95%200.12%204.05%200.09C4.1%200.08%204.16%200.07%204.21%200.07C4.33%200.07%204.5%200.12%204.62%200.21C4.66%200.24%204.71%200.29%204.77%200.34C4.83%200.43%204.91%200.61%204.91%200.74L4.91%2011.25C4.91%2011.34%204.9%2011.43%204.86%2011.51C4.83%2011.59%204.78%2011.66%204.71%2011.72C4.65%2011.79%204.58%2011.84%204.5%2011.87C4.42%2011.91%204.33%2011.92%204.23%2011.92C4.14%2011.92%204.05%2011.91%203.97%2011.87C3.89%2011.84%203.82%2011.79%203.76%2011.72C3.69%2011.66%203.64%2011.59%203.61%2011.51C3.57%2011.43%203.56%2011.34%203.56%2011.25L3.56%202.4L1.84%204.15ZM7.07%200.74L7.07%2011.31C7.08%2011.36%207.12%2011.48%207.13%2011.51C7.17%2011.6%207.21%2011.67%207.27%2011.73C7.35%2011.8%207.43%2011.85%207.52%2011.89C7.59%2011.91%207.67%2011.92%207.75%2011.92C7.87%2011.9%208.04%2011.85%208.13%2011.79L11.12%208.8C11.17%208.73%2011.23%208.66%2011.25%208.58C11.29%208.5%2011.3%208.41%2011.3%208.32C11.3%208.22%2011.28%208.14%2011.24%208.06C11.21%207.98%2011.16%207.91%2011.1%207.84C11.03%207.78%2010.94%207.72%2010.85%207.69C10.78%207.66%2010.7%207.65%2010.61%207.65C10.53%207.65%2010.45%207.67%2010.37%207.7C10.29%207.73%2010.21%207.78%2010.14%207.85L8.42%209.59L8.42%200.74C8.42%200.64%208.4%200.54%208.36%200.45C8.33%200.38%208.28%200.32%208.22%200.26C8.16%200.2%208.1%200.16%208.03%200.13C7.94%200.09%207.85%200.07%207.75%200.07C7.63%200.07%207.53%200.09%207.44%200.14C7.37%200.17%207.31%200.21%207.26%200.26C7.21%200.31%207.17%200.37%207.14%200.44C7.09%200.53%207.07%200.63%207.07%200.74Z'%20fill='%238ABEF3'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e") center center / 0.75rem no-repeat;
    }
  }

  /* 下降 */
  .el-table .descending .caret-wrapper{
    background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cclipPath%20id='clip2_59'%3e%3crect%20id='ic_public_sort_down'%20width='12.000000'%20height='12.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_59)'%3e%3cpath%20id='合并'%20d='M6.75088%200.750078L6.74989%209.44345L9.84542%206.3568C9.91279%206.28962%209.98706%206.23788%2010.0682%206.2016C10.1493%206.16538%2010.2372%206.14455%2010.3319%206.13911C10.4265%206.13369%2010.516%206.14426%2010.6005%206.17083C10.6839%206.19705%2010.809%206.28008%2010.8825%206.33745C10.9454%206.40048%2010.9955%206.4698%2011.0328%206.54543C11.0764%206.63373%2011.1027%206.73062%2011.1115%206.83609C11.1174%206.90621%2011.0924%207.06184%2011.08%207.12857C11.0601%207.19196%2011.0328%207.25048%2010.9979%207.30414C10.9712%207.34526%2010.9401%207.38353%2010.9046%207.41894L6.53048%2011.7811C6.49591%2011.8155%206.45874%2011.8461%206.41896%2011.8728C6.38255%2011.8973%206.25978%2011.9497%206.21901%2011.9676C6.20954%2011.9705%206.1131%2011.9904%206.10348%2011.9927L5.98619%2011.9996C5.98007%2011.9996%205.9437%2011.9959%205.91404%2011.9929C5.89516%2011.991%205.879%2011.9893%205.87511%2011.9891C5.86651%2011.9876%205.76888%2011.9619%205.76036%2011.96C5.64532%2011.9187%205.54792%2011.8584%205.46963%2011.7803L1.09542%207.41808C1.02807%207.35094%200.976143%207.27684%200.939629%207.19581C0.903162%207.11487%200.882071%207.027%200.87636%206.9322Q0.867815%206.7904%200.907307%206.66354L0.90731%206.66353C0.933292%206.58008%201.01596%206.45478%201.07313%206.38104Q1.1674%206.28649%201.28067%206.23015C1.36885%206.18629%201.46566%206.15979%201.57111%206.15066C1.64126%206.14459%201.79688%206.1691%201.86368%206.18132Q1.95883%206.21085%202.03946%206.26289C2.08067%206.28948%202.11903%206.32048%202.15454%206.35589L5.25011%209.44228L5.25088%200.749935Q5.25089%200.606281%205.29889%200.481014C5.33081%200.397697%205.37865%200.320481%205.44242%200.249366C5.50608%200.178374%205.57751%200.122482%205.65672%200.0816889C5.73493%200.0414095%205.90752%200.0108376%206.0009%200Q6.15623%200%206.28881%200.0549212C6.37721%200.0915403%206.45803%200.146472%206.53125%200.219715C6.60447%200.292945%206.65938%200.373755%206.69598%200.462148C6.73259%200.550538%206.75089%200.646525%206.75088%200.750078Z'%20clip-rule='evenodd'%20fill='%23DFDFDF'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e") center center / 0.75rem no-repeat;
    &:hover{
      background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cclipPath%20id='clip2_59'%3e%3crect%20id='ic_public_sort_down'%20width='12.000000'%20height='12.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_59)'%3e%3cpath%20id='合并'%20d='M6.75088%200.750078L6.74989%209.44345L9.84542%206.3568C9.91279%206.28962%209.98706%206.23788%2010.0682%206.2016C10.1493%206.16538%2010.2372%206.14455%2010.3319%206.13911C10.4265%206.13369%2010.516%206.14426%2010.6005%206.17083C10.6839%206.19705%2010.809%206.28008%2010.8825%206.33745C10.9454%206.40048%2010.9955%206.4698%2011.0328%206.54543C11.0764%206.63373%2011.1027%206.73062%2011.1115%206.83609C11.1174%206.90621%2011.0924%207.06184%2011.08%207.12857C11.0601%207.19196%2011.0328%207.25048%2010.9979%207.30414C10.9712%207.34526%2010.9401%207.38353%2010.9046%207.41894L6.53048%2011.7811C6.49591%2011.8155%206.45874%2011.8461%206.41896%2011.8728C6.38255%2011.8973%206.25978%2011.9497%206.21901%2011.9676C6.20954%2011.9705%206.1131%2011.9904%206.10348%2011.9927L5.98619%2011.9996C5.98007%2011.9996%205.9437%2011.9959%205.91404%2011.9929C5.89516%2011.991%205.879%2011.9893%205.87511%2011.9891C5.86651%2011.9876%205.76888%2011.9619%205.76036%2011.96C5.64532%2011.9187%205.54792%2011.8584%205.46963%2011.7803L1.09542%207.41808C1.02807%207.35094%200.976143%207.27684%200.939629%207.19581C0.903162%207.11487%200.882071%207.027%200.87636%206.9322Q0.867815%206.7904%200.907307%206.66354L0.90731%206.66353C0.933292%206.58008%201.01596%206.45478%201.07313%206.38104Q1.1674%206.28649%201.28067%206.23015C1.36885%206.18629%201.46566%206.15979%201.57111%206.15066C1.64126%206.14459%201.79688%206.1691%201.86368%206.18132Q1.95883%206.21085%202.03946%206.26289C2.08067%206.28948%202.11903%206.32048%202.15454%206.35589L5.25011%209.44228L5.25088%200.749935Q5.25089%200.606281%205.29889%200.481014C5.33081%200.397697%205.37865%200.320481%205.44242%200.249366C5.50608%200.178374%205.57751%200.122482%205.65672%200.0816889C5.73493%200.0414095%205.90752%200.0108376%206.0009%200Q6.15623%200%206.28881%200.0549212C6.37721%200.0915403%206.45803%200.146472%206.53125%200.219715C6.60447%200.292945%206.65938%200.373755%206.69598%200.462148C6.73259%200.550538%206.75089%200.646525%206.75088%200.750078Z'%20clip-rule='evenodd'%20fill='%238ABEF3'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e") center center / 0.75rem no-repeat;
    }
  }

  /* 上升 */
  .el-table .ascending .caret-wrapper{
    background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cclipPath%20id='clip2_66'%3e%3crect%20id='ic_public_sort_up'%20width='12.000000'%20height='12.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_66)'%3e%3cpath%20id='合并'%20d='M6.53048%200.218942L10.9046%204.58106C10.9779%204.65419%2011.033%204.73492%2011.0697%204.82326L11.0697%204.82329Q11.1248%204.95578%2011.125%205.11109C11.1251%205.21464%2011.107%205.31063%2011.0705%205.39907C11.034%205.48751%2010.9792%205.5684%2010.9061%205.64172C10.8329%205.71505%2010.7522%205.77007%2010.6639%205.80681C10.5755%205.84354%2010.4796%205.86198%2010.376%205.86212C10.2725%205.86226%2010.1765%205.84409%2010.088%205.8076L10.088%205.80758Q9.95536%205.75284%209.8454%205.64318L6.75077%202.55703L6.75088%2011.25Q6.75088%2011.3937%206.70288%2011.5189L6.70287%2011.519C6.67096%2011.6023%206.62312%2011.6795%206.55937%2011.7506C6.49572%2011.8216%206.4243%2011.8775%206.34509%2011.9183C6.26689%2011.9586%206.09425%2011.9892%206.00088%2012C5.89732%2012%205.80135%2011.9817%205.71296%2011.9451C5.62457%2011.9085%205.54377%2011.8536%205.47055%2011.7803C5.39732%2011.7071%205.34241%2011.6263%205.30579%2011.5379C5.26918%2011.4495%205.25088%2011.3536%205.25088%2011.25L5.25077%202.55706L2.15461%205.64491C2.08719%205.71215%202.01287%205.76391%201.93162%205.80021C1.85064%205.83639%201.76279%205.8572%201.66807%205.86263C1.5735%205.86806%201.48397%205.85749%201.39948%205.83092C1.3161%205.8047%201.19104%205.72167%201.11747%205.6643C1.05461%205.60127%201.00451%205.53194%200.967161%205.45632Q0.901752%205.32386%200.888506%205.16566C0.882632%205.0955%200.90759%204.93993%200.92%204.87318C0.939868%204.80979%200.967226%204.75127%201.00207%204.69761Q1.04214%204.63593%201.0954%204.58281L5.47128%200.218942Q5.58105%200.10947%205.71345%200.0547352Q5.84585%200%206.00088%200C6.10423%200%206.20004%200.0182447%206.2883%200.0547352Q6.4207%200.10947%206.53048%200.218942Z'%20clip-rule='evenodd'%20fill='%23DFDFDF'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e") center center / 0.75rem no-repeat; 
    &:hover{
      background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cclipPath%20id='clip2_66'%3e%3crect%20id='ic_public_sort_up'%20width='12.000000'%20height='12.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_66)'%3e%3cpath%20id='合并'%20d='M6.53048%200.218942L10.9046%204.58106C10.9779%204.65419%2011.033%204.73492%2011.0697%204.82326L11.0697%204.82329Q11.1248%204.95578%2011.125%205.11109C11.1251%205.21464%2011.107%205.31063%2011.0705%205.39907C11.034%205.48751%2010.9792%205.5684%2010.9061%205.64172C10.8329%205.71505%2010.7522%205.77007%2010.6639%205.80681C10.5755%205.84354%2010.4796%205.86198%2010.376%205.86212C10.2725%205.86226%2010.1765%205.84409%2010.088%205.8076L10.088%205.80758Q9.95536%205.75284%209.8454%205.64318L6.75077%202.55703L6.75088%2011.25Q6.75088%2011.3937%206.70288%2011.5189L6.70287%2011.519C6.67096%2011.6023%206.62312%2011.6795%206.55937%2011.7506C6.49572%2011.8216%206.4243%2011.8775%206.34509%2011.9183C6.26689%2011.9586%206.09425%2011.9892%206.00088%2012C5.89732%2012%205.80135%2011.9817%205.71296%2011.9451C5.62457%2011.9085%205.54377%2011.8536%205.47055%2011.7803C5.39732%2011.7071%205.34241%2011.6263%205.30579%2011.5379C5.26918%2011.4495%205.25088%2011.3536%205.25088%2011.25L5.25077%202.55706L2.15461%205.64491C2.08719%205.71215%202.01287%205.76391%201.93162%205.80021C1.85064%205.83639%201.76279%205.8572%201.66807%205.86263C1.5735%205.86806%201.48397%205.85749%201.39948%205.83092C1.3161%205.8047%201.19104%205.72167%201.11747%205.6643C1.05461%205.60127%201.00451%205.53194%200.967161%205.45632Q0.901752%205.32386%200.888506%205.16566C0.882632%205.0955%200.90759%204.93993%200.92%204.87318C0.939868%204.80979%200.967226%204.75127%201.00207%204.69761Q1.04214%204.63593%201.0954%204.58281L5.47128%200.218942Q5.58105%200.10947%205.71345%200.0547352Q5.84585%200%206.00088%200C6.10423%200%206.20004%200.0182447%206.2883%200.0547352Q6.4207%200.10947%206.53048%200.218942Z'%20clip-rule='evenodd'%20fill='%238ABEF3'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/g%3e%3c/svg%3e") center center / 0.75rem no-repeat;
    }
  }


  /* 自定义的筛选图标 */
  .el-table .cell .el-table__column-filter-trigger {
    background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3cpath%20id='合并'%20d='M5.06%2011.71Q4.95%2011.74%204.83%2011.73C4.66%2011.73%204.51%2011.69%204.36%2011.61C4.22%2011.52%204.1%2011.41%204.02%2011.27C3.93%2011.12%203.88%2010.95%203.88%2010.77L3.88%205.7L0.69%202.41C0.57%202.28%200.48%202.15%200.41%202C0.36%201.89%200.33%201.77%200.31%201.65C0.29%201.53%200.28%201.41%200.29%201.29C0.31%201.14%200.34%201%200.4%200.86C0.46%200.72%200.54%200.6%200.63%200.49C0.71%200.4%200.8%200.32%200.9%200.25C1%200.18%201.11%200.12%201.23%200.08C1.38%200.02%201.54%200%201.71%200L10.24%200C10.54%200%2010.81%200.08%2011.05%200.25Q11.21%200.36%2011.32%200.49C11.41%200.6%2011.49%200.73%2011.55%200.87C11.61%201.01%2011.64%201.16%2011.66%201.3C11.67%201.42%2011.66%201.54%2011.64%201.66Q11.61%201.85%2011.53%202.02Q11.43%202.24%2011.24%202.42L7.98%205.7L7.98%209.25C7.98%209.51%207.91%209.74%207.79%209.96C7.66%2010.18%207.49%2010.36%207.27%2010.48L5.32%2011.61Q5.2%2011.68%205.06%2011.71Z'%20fill='%23DFDFDF'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e") center center / 0.75rem no-repeat;
    &:hover,&:active{
      background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3cpath%20id='合并'%20d='M5.06%2011.71Q4.95%2011.74%204.83%2011.73C4.66%2011.73%204.51%2011.69%204.36%2011.61C4.22%2011.52%204.1%2011.41%204.02%2011.27C3.93%2011.12%203.88%2010.95%203.88%2010.77L3.88%205.7L0.69%202.41C0.57%202.28%200.48%202.15%200.41%202C0.36%201.89%200.33%201.77%200.31%201.65C0.29%201.53%200.28%201.41%200.29%201.29C0.31%201.14%200.34%201%200.4%200.86C0.46%200.72%200.54%200.6%200.63%200.49C0.71%200.4%200.8%200.32%200.9%200.25C1%200.18%201.11%200.12%201.23%200.08C1.38%200.02%201.54%200%201.71%200L10.24%200C10.54%200%2010.81%200.08%2011.05%200.25Q11.21%200.36%2011.32%200.49C11.41%200.6%2011.49%200.73%2011.55%200.87C11.61%201.01%2011.64%201.16%2011.66%201.3C11.67%201.42%2011.66%201.54%2011.64%201.66Q11.61%201.85%2011.53%202.02Q11.43%202.24%2011.24%202.42L7.98%205.7L7.98%209.25C7.98%209.51%207.91%209.74%207.79%209.96C7.66%2010.18%207.49%2010.36%207.27%2010.48L5.32%2011.61Q5.2%2011.68%205.06%2011.71Z'%20fill='%238ABEF3'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e") center center / 0.75rem no-repeat;
    }
  }

  .el-table .cell.highlight .el-table__column-filter-trigger{
    background: url("data:image/svg+xml,%3csvg%20width='12.000000'%20height='12.000000'%20viewBox='0%200%2012%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3cpath%20id='合并'%20d='M5.06%2011.71Q4.95%2011.74%204.83%2011.73C4.66%2011.73%204.51%2011.69%204.36%2011.61C4.22%2011.52%204.1%2011.41%204.02%2011.27C3.93%2011.12%203.88%2010.95%203.88%2010.77L3.88%205.7L0.69%202.41C0.57%202.28%200.48%202.15%200.41%202C0.36%201.89%200.33%201.77%200.31%201.65C0.29%201.53%200.28%201.41%200.29%201.29C0.31%201.14%200.34%201%200.4%200.86C0.46%200.72%200.54%200.6%200.63%200.49C0.71%200.4%200.8%200.32%200.9%200.25C1%200.18%201.11%200.12%201.23%200.08C1.38%200.02%201.54%200%201.71%200L10.24%200C10.54%200%2010.81%200.08%2011.05%200.25Q11.21%200.36%2011.32%200.49C11.41%200.6%2011.49%200.73%2011.55%200.87C11.61%201.01%2011.64%201.16%2011.66%201.3C11.67%201.42%2011.66%201.54%2011.64%201.66Q11.61%201.85%2011.53%202.02Q11.43%202.24%2011.24%202.42L7.98%205.7L7.98%209.25C7.98%209.51%207.91%209.74%207.79%209.96C7.66%2010.18%207.49%2010.36%207.27%2010.48L5.32%2011.61Q5.2%2011.68%205.06%2011.71Z'%20fill='%238ABEF3'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e") center center / 0.75rem no-repeat;
  }
  .el-table-filter__bottom{
    button{
      color: var(--brand-30);
      &.is-disabled{
        color: var(--brand-60);
        &:hover,&:active{
          color: var(--brand-60);
        }
      }
      &:hover{
        color: var(--brand-20);
      }
      &:active{
        color: var(--brand-40);
      }
    }
  }
}
