.el-date-picker {
  --el-datepicker-text-color: var(--el-text-color-primary);
  --el-datepicker-off-text-color: var(--el-text-color-disabled);
  --el-datepicker-header-text-color: var(--el-text-color-primary);
  // --el-datepicker-icon-color: var(--el-text-color-primary);
  // --el-datepicker-border-color: var(--el-disabled-border-color);
  // --el-datepicker-inner-border-color: var(--el-border-color-light);
  // --el-datepicker-inrange-bg-color: var(--el-border-color-extra-light);
  // --el-datepicker-inrange-hover-bg-color: var(--el-border-color-extra-light);
  // --el-datepicker-active-color: var(--el-color-primary);
  --el-datepicker-hover-text-color: var(--el-text-color-primary);
  // --el-datepicker-bg-color: var(--el-bg-color-overlay);
  // --el-fill-color-blank: var(--el-datepicker-bg-color);
}

.el-picker-panel {
  color: var(--el-text-color-primary);
}
.el-date-table {
  td.next-month,
  td.prev-month {
    color: var(--el-datepicker-off-text-color);
  }
  td.current:not(.disabled) .el-date-table-cell__text {
    border-radius: var(--el-border-radius-base);
  }
  td.available:hover .el-date-table-cell .el-date-table-cell__text {
    background-color: var(--primary-100);
    border-radius: var(--el-border-radius-base);
  }
}

.el-year-table,
.el-month-table
 {
  td.today .el-date-table-cell__text {
    color: var(--el-text-color-primary);
    font-weight: var(--el-font-weight-primary);
  }
  td .el-date-table-cell__text {
    border-radius: var(--el-border-radius-base);
  }
  td:hover .el-date-table-cell__text {
    background-color: var(--primary-100);
  }
}

.el-date-editor--daterange.el-input__wrapper {
  flex-grow: unset;
}