.el-tag__content {
  display: inline-flex;
  align-items: center;
}

.el-tag {
  --el-tag-border-radius: var(--radius-base);
  padding: 0 7px;
}

.el-tag--large {
  --el-icon-size: 14px;
  height: 28px;
  padding: 0 7px;
}

.el-tag.is-closable {
  padding: 0 7px;
}

.el-tag .el-tag__close {
  margin-left: 2px;

  &:hover {
    color: inherit;
    background-color: transparent;
  }
}



// light
// plain
.el-tag.el-tag--primary,
.el-tag.el-tag--success,
.el-tag.el-tag--info,
.el-tag.el-tag--warning,
.el-tag.el-tag--processing,
.el-tag.el-tag--danger {
  --el-tag-border-color: transparent;
}

.el-tag.el-tag--primary {
  --el-tag-text-color: #1f55b5;
  --el-tag-bg-color: rgb(from #d0d8fd r g b / 0.5);
}

.el-tag.el-tag--success {
  --el-tag-text-color: #036142;
  --el-tag-bg-color: rgb(from #bcf2db r g b / 0.6);
}

.el-tag.el-tag--info {
  --el-tag-text-color: #393939;
  --el-tag-bg-color: rgb(from #191919 r g b / 0.05);
}

.el-tag.el-tag--warning {
  --el-tag-text-color: #614500;
  --el-tag-bg-color: rgb(from #fde55c r g b / 0.6);
}

.el-tag.el-tag--danger {
  --el-tag-text-color: #c7000b;
  --el-tag-bg-color: #fee7e8;
}

.el-tag.el-tag--processing {
  --el-tag-text-color: #954304;
  --el-tag-bg-color: #fde2bd;
}

// dark
.el-tag--dark.el-tag--primary,
.el-tag--dark.el-tag--success,
.el-tag--dark.el-tag--warning,
.el-tag--dark.el-tag--danger,
.el-tag--dark.el-tag--processing,
.el-tag--dark.el-tag--info {
  --el-tag-text-color: #ffffff;
  --el-tag-border-color: transparent;
}


.el-tag--dark.el-tag--primary {
  --el-tag-bg-color: #5990fd;
}

.el-tag--dark.el-tag--success {
  --el-tag-bg-color: #2da769;
}

.el-tag--dark.el-tag--info {
  --el-tag-bg-color: #939393;
}

.el-tag--dark.el-tag--warning {
  --el-tag-bg-color: #eeba18;
}

.el-tag--dark.el-tag--danger {
  --el-tag-bg-color: #f43146;
}

.el-tag--dark.el-tag--processing {
  --el-tag-bg-color: #ec6f1a;
}

// plain
.el-tag--plain.el-tag--primary,
.el-tag--plain.el-tag--success,
.el-tag--plain.el-tag--info,
.el-tag--plain.el-tag--warning,
.el-tag--plain.el-tag--danger {
  --el-tag-bg-color: var(--surface-default);
}

.el-tag.el-tag--default {
  --el-tag-text-color: #191919;
  --el-tag-bg-color: rgb(from #191919 r g b / 0.05);
  --el-tag-border-color: transparent;

  &:hover {
    --el-tag-bg-color: #dfdfdf;
  }

  &:active,
  &:focus {
    --el-tag-text-color: #0067d1;
    --el-tag-bg-color: #e6f2fd;
    --el-tag-border-color: #0067d1;
  }
}






.theme-dark {

  // light
  .el-tag.el-tag--primary {
    --el-tag-text-color: #8ca3fa;
    --el-tag-bg-color: rgb(from #668cf7 r g b / 0.15);
    --el-tag-border-color: transparent;
  }

  .el-tag.el-tag--success {
    --el-tag-text-color: #36c18d;
    --el-tag-bg-color: rgb(from #09aa71 r g b / 0.15);
    --el-tag-border-color: transparent;
  }

  .el-tag.el-tag--info {
    --el-tag-text-color: #aeaeae;
    --el-tag-bg-color: rgb(from #aeaeae r g b / 0.15);
    --el-tag-border-color: transparent;
  }

  .el-tag.el-tag--warning {
    --el-tag-text-color: #fcc800;
    --el-tag-bg-color: rgb(from #fde55c r g b / 0.15);
    --el-tag-border-color: transparent;
  }

  .el-tag.el-tag--danger {
    --el-tag-text-color: #e7434a;
    --el-tag-bg-color: rgb(from #ee696f r g b / 0.15);
    --el-tag-border-color: transparent;
  }
  .el-tag.el-tag--processing {
    --el-tag-text-color: #f69e39;
    --el-tag-bg-color: rgb(from #f4840c r g b / 0.15);
    --el-tag-border-color: transparent;
  }



  // solid  dark
  .el-tag--dark.el-tag--primary,
  .el-tag--dark.el-tag--success,
  .el-tag--dark.el-tag--danger,
  .el-tag--dark.el-tag--processing,
  .el-tag--dark.el-tag--warning,
  .el-tag--dark.el-tag--info {
    --el-tag-border-color: transparent;
    --el-tag-text-color: #ffffff;
  }

  .el-tag--dark.el-tag--primary {
    --el-tag-bg-color: #5990fd;
  }

  .el-tag--dark.el-tag--success {
    --el-tag-bg-color: #0d9458;
  }

  .el-tag--dark.el-tag--danger {
    --el-tag-bg-color: #ec6f1a;
  }

  .el-tag--dark.el-tag--processing {
    --el-tag-bg-color: #ec6f1a;
  }

  .el-tag--dark.el-tag--warning {
    --el-tag-bg-color: #eeba18;
  }

  .el-tag--dark.el-tag--info {
    --el-tag-bg-color: #818181;
  }


  // default
  .el-tag.el-tag--default {
    --el-tag-text-color: #ffffff;
    --el-tag-bg-color: rgb(from #f3f3f3 r g b / 0.2);
    --el-tag-border-color: transparent;

    &:hover {
      --el-tag-bg-color: #595959;
    }

    &:active,
    &:focus {
      --el-tag-text-color: #ffffff;
      --el-tag-bg-color: rgb(from #0067d1 r g b / 0.4);
      --el-tag-border-color: #2e86de;
    }
  }

}