.el-pagination .el-select {
  width: 112px;
}

.el-pagination.is-background {

  .btn-prev.is-active,
  .btn-next.is-active,
  .el-pager li.is-active {
    background-color: var(--primary-50);
    color: var(--text-primary);
    font-weight: var(--el-font-weight-primary);
  }

  .btn-prev,
  .btn-next,
  .el-pager li {
    background-color: transparent;

    &:hover {
      color: var(--el-text-color-primary);
      background-color: rgba(25, 25, 25, 0.05);
    }
  }

  .btn-prev:disabled,
  .btn-prev.is-disabled,
  .btn-next:disabled,
  .btn-next.is-disabled,
  .el-pager li:disabled,
  .el-pager li.is-disabled {
    color: var(--el-text-color-placeholder);
    background-color: transparent;
  }
}

.el-pagination .btn-prev .el-icon,
.el-pagination .btn-next .el-icon {
  font-size: var(--el-font-size-medium);
}

.theme-dark {

  .el-pagination__sizes,
  .el-pagination__total,
  .el-pagination__jump {
    color: var(--neutral-0)
  }

  .el-pagination.is-background {

    .btn-prev.is-active,
    .btn-next.is-active,
    .el-pager li.is-active {
      background-color: rgba(0, 103, 209, 0.4);
      color: var(--neutral-0);
    }

    .btn-prev,
    .btn-next,
    .el-pager li {
      background-color: transparent;
      color: var(--neutral-0);

      &:hover {
        color: var(--el-text-color-primary);
        background-color: rgb(from var(--neutral-50) r g b / 0.2);
      }
    }

    .btn-prev:disabled,
    .btn-prev.is-disabled,
    .btn-next:disabled,
    .btn-next.is-disabled,
    .el-pager li:disabled,
    .el-pager li.is-disabled {
      color: var(--el-text-color-placeholder);
      background-color: transparent;
    }
  }
}